
/* Layout */

body {
  max-width: 100%;
  margin: 0 auto;
  background: #f9f9f9;
}
 ul {
   padding: 0;
 }

.main-nav {
  max-width: 95%;
  margin: 0 auto;
}

.main-nav li {
  background: #fff;
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
}

.main-nav li.name {
  background-color: rgba(0,0,0,0);
  margin-bottom: 1.5rem;
}

/* Typography */

body {
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: #030303;
  font-size: 18px;
}

ul {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

ul a {
  text-decoration: none;
  color: #090909;
}

ul li.name {
  font-size: 1.5rem;
}
